html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	font-size: 16px;
	color: #fff;
	font-family: 'Gilroy';
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto ;/*sticky footer*/
}


.container{
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 15px;
}
.main{
	background: url('../images/chat/bg.jpg') no-repeat  center top;
	background-size: cover;
}
.breadcrumbs{
	margin-bottom: 65px;
}
.title{
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 600;
}
.section{
	padding-bottom: 180px;
}
.btn{
	padding: 10px 60px;
    width: 185px;
    width: 100%;
    border: 1px solid $grey;
    border-radius: 30px;
    color: #fff;
	text-align: center;
}
button{
	cursor: pointer;
}






