.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #484848;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal__block {
    max-width: 540px;
    position: relative;
    padding: 70px 100px 95px 100px;
    background-color: $dark;
    border-radius: 10px;
}
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-form__title {
    width: 340px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}
.modal-form__service,
.modal-form__input {
    margin-bottom: 10px;
    padding: 26px;
    width: 290px;
    color: #f0f7fa;
    border-radius: 10px;
    border: none;
    background-color:#1a1a1a;
}
.modal-form__input::placeholder {
    color: #f0f7fa;
}
.modal-form__block {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 190px;
   margin-right: 50px;
}
.modal__block-close{
   position: absolute;
   top: 20px;
   right: 20px;
   color: #afa8af;
}
.modal-form__custom-input.modal-form__custom-input--hidden{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}
.modal-form__custom-input.modal-form__custom-input--hidden:checked + .modal-form__custom-radio{
    background: url('../images/information/customcircle.png') no-repeat center;
    background-color: #fff;
}
.modal-form__custom-radio{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #8d8d8d;
    position: absolute;
    background-color: #fff;
}
.modal-form__custom-radio--one{
    margin-left: 30px;
}
.modal-form__label {
    display: block;
    margin-bottom: 15px;
}

.modal-form__btn{
    padding: 24px;
    width: 275px;
    font-size: 15px;
    font-weight: 800;
    border: none;
    background-color: $yellow;
}


@media(max-width:550px){
    .modal__block{
        padding-top: 20px;
        padding-bottom: 15px;
        max-width: 310px;
    }
    .modal-form__title{
        margin-bottom: 20px;
        width: 290px;
        font-size: 20px;
        text-align: center;
    }
    .modal{
        opacity: 1;
    }
    .modal-form__input,
    .modal-form__service{
        padding: 17px;
    }
}
